<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tiltingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4,5,5,4,3,2,1,2,3,4,5</string>
		<key>delay,</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>radar_</string>
	</dict>
</dict>
</plist>
